<app-loading [size]="50" *ngIf="loading"></app-loading>
<div class="container-fluid" *ngIf="!loading">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let item of chartSkills">
      <mat-card class="bg-transparent border border-white my-3 p-0">
        <mat-card-content>
          <div class="chart">
            <apx-chart
              [series]="item.series"
              [chart]="item.chart"
              [plotOptions]="item.plotOptions"
              [labels]="item.labels"
              [fill]="item.fill"
              [stroke]="item.stroke"
              [subtitle]="item.subtitle">
            </apx-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
