################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alimzfr.DataLayer/obj
/Alimzfr.DomainLayer/obj
/Alimzfr.ModelLayer/obj
/Alimzfr.ServiceLayer/obj
/Alimzfr.DomainLayer/bin/Debug/netcoreapp3.1
/Alimzfr.DataLayer/bin/Debug/netcoreapp3.1
/Alimzfr.ModelLayer/bin/Debug/netcoreapp3.1
/Alimzfr.ServiceLayer/bin/Debug/netcoreapp3.1
