################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alimzfr.DataLayer/obj
/Alimzfr.DomainLayer/obj
/Alimzfr.ModelLayer/obj
/Alimzfr.ServiceLayer/obj
