<mat-card class="bg-transparent border border-white">
  <mat-card-header>
    <mat-card-title class="alimzfr-card-title">Certificate</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="mt-2">
      <div style="vertical-align: middle">
        <div *ngIf="!isAuthenticated">
          <fa-icon [icon]="['fas','book']"
                   [size]="'lg'"
                   [classes]="['text-primary','text-center','d-inline-block']"
                   [styles]="{'width':'25px'}">
          </fa-icon>
          <strong class="alimzfr-card-topic"> Course: </strong>
          <span class="alimzfr-card-content"> {{trainingCourse.englishCourseName}} </span>
        </div>
        <mat-form-field class="w-100 alimzfr-form-field"
                        *ngIf="isAuthenticated">
          <mat-label>
            <fa-icon [icon]="['fas','book']"
                     [size]="'lg'"
                     [classes]="['text-primary','text-center','d-inline-block']"
                     [styles]="{'width':'25px'}">
            </fa-icon>
            <strong class="alimzfr-card-topic"> Course: </strong>
          </mat-label>
          <input matInput
                 [(ngModel)]="trainingCourse.englishCourseName">
        </mat-form-field>
      </div>
      <div style="vertical-align: middle">
        <div *ngIf="!isAuthenticated">
          <fa-icon [icon]="['fas','university']"
                   [size]="'lg'"
                   [classes]="['text-primary','text-center','d-inline-block']"
                   [styles]="{'width':'25px'}"></fa-icon>
          <strong class="alimzfr-card-topic"> Educational Institute: </strong>
          <span class="alimzfr-card-content">{{trainingCourse.englishEducationalInstitute}}</span>
        </div>
        <mat-form-field class="w-100 alimzfr-form-field"
                        *ngIf="isAuthenticated">
          <mat-label>
            <fa-icon [icon]="['fas','university']"
                     [size]="'lg'"
                     [classes]="['text-primary','text-center','d-inline-block']"
                     [styles]="{'width':'25px'}"></fa-icon>
            <strong class="alimzfr-card-topic"> Educational Institute: </strong>
          </mat-label>
          <input matInput
                 [(ngModel)]="trainingCourse.englishEducationalInstitute">
        </mat-form-field>
      </div>
      <div style="vertical-align: middle">
        <div *ngIf="!isAuthenticated">
          <fa-icon [icon]="['fas','clock']"
                   [size]="'lg'"
                   [classes]="['text-primary','text-center','d-inline-block']"
                   [styles]="{'width':'25px'}"></fa-icon>
          <strong class="alimzfr-card-topic"> Duration: </strong>
          <span class="alimzfr-card-content">{{trainingCourse.duration}}</span>
        </div>
        <mat-form-field class="w-100 alimzfr-form-field"
                        *ngIf="isAuthenticated">
          <mat-label>
            <fa-icon [icon]="['fas','clock']"
                     [size]="'lg'"
                     [classes]="['text-primary','text-center','d-inline-block']"
                     [styles]="{'width':'25px'}"></fa-icon>
            <strong class="alimzfr-card-topic"> Duration: </strong>
          </mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="trainingCourse.duration">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button
            class="mx-2 alimzfr-card-button"
            matTooltip="Download"
            aria-label="Download">
      <fa-icon [icon]="['fas','file-download']" [size]="'lg'"></fa-icon>
    </button>
    <button mat-icon-button
            class="mx-2 alimzfr-card-button"
            matTooltip="Edit"
            aria-label="Edit"
            (click)="updateTrainingCourse()"
            *ngIf="isAuthenticated">
      <fa-icon [icon]="['far','edit']" [size]="'lg'"></fa-icon>
    </button>
    <button mat-icon-button
            class="mx-2 alimzfr-card-button"
            matTooltip="Delete"
            aria-label="Delete"
            *ngIf="isAuthenticated">
      <fa-icon [icon]="['far','trash-alt']" [size]="'lg'"></fa-icon>
    </button>
  </mat-card-actions>
</mat-card>
