@import "../../../../../../shareStyles/variables";

.alimzfr-menu {
  margin-bottom: 90px;
}

.alimzfr-menu-link {
  color: $alimzfr-color1;
}

.alimzfr-menu-active-link {
  color: $alimzfr-color4;
}
