<div [class.alimzfr-full-overlay]="isFullOverlay"
     [class.alimzfr-container-overlay]="isContainerOverlay">
</div>

<div class="alimzfr-loading-spinner"
     [class.alimzfr-loading-spinner-full-overlay]="isFullOverlay"
     [class.alimzfr-loading-spinner-container-overlay]="isContainerOverlay"
     [ngStyle]="{'width': size + 'px', 'height': size + 'px'}">
  <div class="ldio-ccfhuiok2q">
    <div>
      <div [ngStyle]="{'transform-origin': size/2 + 'px ' + size/2 + 'px'}">
        <div [ngStyle]="{'width': size/2 + 'px', 'height': size/2 + 'px'}"></div>
      </div>
      <div [ngStyle]="{'transform-origin': size/2 + 'px ' + size/2 + 'px'}">
        <div [ngStyle]="{'width': size/2 + 'px', 'height': size/2 + 'px'}"></div>
      </div>
      <div [ngStyle]="{'transform-origin': size/2 + 'px ' + size/2 + 'px'}">
        <div [ngStyle]="{'width': size/2 + 'px', 'height': size/2 + 'px'}"></div>
      </div>
      <div [ngStyle]="{'transform-origin': size/2 + 'px ' + size/2 + 'px'}">
        <div [ngStyle]="{'width': size/2 + 'px', 'height': size/2 + 'px'}"></div>
      </div>
    </div>
  </div>
</div>
