.alimzfr-message-success {
  margin-top: 65px !important;
  color: #22ca06 !important;
}

.alimzfr-message-error {
  margin-top: 65px !important;
  color: #ca3028 !important;
}

.alimzfr-message-warning {
  margin-top: 65px !important;
  color: #bcb700 !important;
}

.alimzfr-message-info {
  margin-top: 65px !important;
  color: #3968bc !important;
}
