<div class="d-flex w-100">
  <img src="../../../../../../../assets/myImage.jpg"
       alt="Ali Mozaffari"
       class="mx-auto my-3 rounded-circle alimzfr-picture"
       style="filter: drop-shadow(0 0 10px black) grayscale(1);">
</div>
<div class="text-center my-3 alimzfr-title">
  <!--  <h1 class="mb-0">-->
  <!--    Ali Mozaffari-->
  <!--  </h1>-->
  <!--  <h3>-->
  <!--    Software Developer-->
  <!--  </h3>-->
  <img src="../../../../../../../assets/myLogo2.png"
       alt="Logo"
       style="height: auto; width: 100%;"
       class="px-3">
</div>

