<app-loading *ngIf="loading"></app-loading>
<div class="container-fluid" *ngIf="!loading">
<div class="container-fluid" *ngIf="!loading">
  <div class="row">
    <div class="col-sm-6 col-12 my-3">
      <div id="chart">
        <apx-chart
          *ngIf="!loading"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [series]="chartOptions.series"
          [xaxis]="chartOptions.xaxis">
        </apx-chart>
      </div>
    </div>
    <app-college-education class="col-sm-6 col-12 my-3"
                           *ngFor="let item of collegeEducations"
                           [collegeEducation]="item">
    </app-college-education>

    <app-training-course class="col-sm-6 col-12 my-3"
                         *ngFor="let item of educations"
                         [trainingCourse]="item">
    </app-training-course>

  </div>
</div>
