<app-loading *ngIf="loading"></app-loading>
<div class="container-fluid" *ngIf="!loading">
  <div class="row">
    <div class="col-12 px-0">
      <mat-vertical-stepper class="bg-transparent">
        <mat-step *ngFor="let item of experiences"
                  [ngStyle]="{'color': '#cccccc'}"
                  state="edit">
          <ng-template matStepLabel>
            <h3 class="m-0 alimzfr-card-label">{{item.englishJobTitle}}</h3>
          </ng-template>
          <mat-card class="bg-transparent border border-white rounded-sm p-2 p-sm-3">
            <mat-card-header>
              <mat-card-title class="mb-2 mb-sm-3 alimzfr-card-title">
                <fa-icon [icon]="['far','building']"
                         [classes]="['text-primary','text-center','d-inline-block','alimzfr-icon']"
                         [styles]="{'width':'25px'}">
                </fa-icon>
                <span class="mx-2">{{item.englishCompanyName}}</span>
                <small class="d-block d-sm-inline alimzfr-card-duration">
                  <span>{{item.gregorianFromDate | mask: '9999/99'}}</span>
                  <span class="mx-1">-</span>
                  <span>{{item.gregorianToDate | mask: '9999/99'}}</span>
                  <span *ngIf="item.gregorianToDate == null">Present</span>
                </small>
              </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="alimzfr-card-content p-3">
              <p>{{item.englishDescription}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-icon-button
                      class="mx-2 alimzfr-card-button"
                      matTooltip="Edit"
                      aria-label="Edit"
                      (click)="updateExperience(item)"
                      *ngIf="isAuthenticated">
                <fa-icon [icon]="['far','edit']" [size]="'lg'"></fa-icon>
              </button>
              <button mat-icon-button
                      class="mx-2 alimzfr-card-button"
                      matTooltip="Delete"
                      aria-label="Delete"
                      *ngIf="isAuthenticated">
                <fa-icon [icon]="['far','trash-alt']" [size]="'lg'"></fa-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-step>
        <ng-template matStepperIcon="edit">
          <fa-icon [icon]="['fas','briefcase']"
                   [size]="'sm'"
                   [classes]="['text-white','text-center']">
          </fa-icon>
        </ng-template>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
