<div class="container-fluid bg-dark position-sticky sticky-top">
  <div class="row">
    <div class="col-12 d-flex flex-row align-items-center alimzfr-toolbar-content">
      <button mat-icon-button
              aria-label="sidebar menu button"
              (click)="sidebarToggleHandler()">
        <fa-icon [icon]="['fas','bars']" [size]="'lg'" [classes]="['alimzfr-header-btn']"></fa-icon>
      </button>
      <h4 class="d-inline-block my-0 mx-2 text-white">{{displayName}}</h4>

      <button mat-icon-button
              class="mr-0 ml-auto"
              matTooltip="login"
              (click)="loginHandler()"
              aria-label="login button"
              *ngIf="!isAuthenticated">
        <fa-icon [icon]="['fas','sign-in-alt']" [size]="'lg'" [classes]="['alimzfr-header-btn']"></fa-icon>
      </button>

      <button mat-icon-button
              class="mr-0 ml-auto"
              matTooltip="Logout"
              (click)="logoutHandler()"
              aria-label="logout button"
              *ngIf="isAuthenticated">
        <fa-icon [icon]="['fas','sign-out-alt']" [size]="'lg'" [classes]="['alimzfr-header-btn']"></fa-icon>
      </button>

      <button mat-icon-button
              [matMenuTriggerFor]="langMenu"
              class="mr-0 ml-2"
              aria-label="localization button">
        <fa-icon [icon]="['fas','globe-europe']" [size]="'lg'" [classes]="['alimzfr-header-btn']"></fa-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item>
          <img src="../../../../../../../assets/English%20flag.png"
               alt="English flag"
               style="height: 20px; width: auto"
               class="mx-1">
          <span>English</span>
        </button>
        <button mat-menu-item disabled>
          <img src="../../../../../../../assets/Iran%20flag.png"
               alt="Iran flag"
               style="height: 20px; width: auto; filter: opacity(0.4);"
               class="mx-1">
          <span>Persian</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
